@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    src: url('#{$file-path}.eot');
    src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
    url('#{$file-path}.woff') format('woff'),
    url('#{$file-path}.ttf') format('truetype');
  }
}

@mixin font-style($weight: normal, $size: 16px, $line-height: 1.5, $color: $cText) {
  font: {
    family: $font;
    weight: $weight;
    size: $size;
  }

  line-height: $line-height;
  color: $color;
}

@mixin flex($justify-content: flex-start, $align-items: flex-start) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin box-shadow-small {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

@mixin box-shadow-big {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

@mixin pseudo($content: '') {
  content: $content;
  position: absolute;
  display: block;
}

@mixin transition {
  transition: all .4s ease;
}