// start Header
.header {
  background-color: $cBlack;

  &_container {
    padding: 10px 30px;
    height: 100%;
    position: relative;
    z-index: 12;
    @include flex(space-between, center);
    @include box-shadow-big;
  }

  &_logo {
    @include flex(flex-start, center);
  }

  &_title {
    @include font-style(normal, 28px);
    margin-right: 30px;
  }

  #sidebarToggle {
    @include transition;
    cursor: pointer;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    @keyframes fadeCompact {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    &.normal {
      animation: fade .4s;
    }

    &.compact {
      animation: fadeCompact .4s;
    }

    span {
      width: 20px;
      height: 2px;
      background: $cWhite;
      display: block;
      margin: 4px auto 0;

      &:nth-child(2) {
        position: relative;
        width: 35px;

        &::before,
        &::after {
          @include pseudo;
          width: 6px;
          height: 2px;
          background: $cWhite;
          transform: rotate(45deg);
          top: 2px;
          left: 0;
          @include transition;
        }

        &::after {
          top: -2px;
          left: 0;
          transform: rotate(145deg)
        }
      }
    }

    &.compact {
      span:nth-child(2) {
        transform: rotate(180deg);
      }
    }
  }

  &_user {
    height: 100%;
    position: relative;
    @include font-style(300, 16px, 1, rgba($cWhite, .9));
    @include flex(flex-start, center);

    img {
      width: auto;
      height: 45px;
      margin-right: 15px;
    }

    &__setting {
      margin-left: 15px;
      display: block;
      cursor: pointer;

      &__modal {
        position: absolute;
        top: calc(100% + 10px);
        right: -30px;
        min-width: calc(100% + 30px);
        background: $cWhite;
        padding: 10px;
        @include box-shadow-big;

        & * {
          cursor: pointer;
          font-weight: normal;
          color: $cMain;
          padding: 5px 0;
          display: block;
          @include transition;

          &:hover {
            color: $cMainHover;
          }
        }
      }
    }
  }

}

// end Header


// start Home
.home {
  &_header {
    padding: 15px 60px;
    @include flex(space-between, center);
    position: relative;

    &::before {
      @include pseudo;
      bottom: 0;
      left: 30px;
      width: calc(100% - 60px);
      height: 1px;
      background: rgba($cWhite, .2);
    }

    &__title {
      font-size: 24px;
      color: $cWhite;
      font-weight: 300;
    }

    &__auth {
      &__register {
        color: $cWhite;
        font-weight: 300;
        margin-right: 30px;
      }

      &__login {
        background: linear-gradient(180deg, $cMain, $cMainHover);
        padding: 10px 50px;
        border-radius: 50px;
        color: $cWhite;
        box-shadow: 0 5px 5px rgba($cBlack, .2);
        @include transition;

        &:hover {
          box-shadow: 0 5px 20px rgba($cBlack, .5);
        }
      }
    }
  }

  &_offer {
    color: $cWhite;
    padding-left: 60px;
    height: calc(100vh - 66px);
    display: flex;
    justify-content: center;
    flex-direction: column;

    h1 {
      // font-weight: normal;
      font-size: 48px;
      line-height: 40px;
    }

    p {
      margin-top: 20px;
      font-size: 18px;
      font-weight: 300;
    }

    &__button {
      background: linear-gradient(180deg, $cMain, $cMainHover);
      padding: 15px 50px;
      border-radius: 50px;
      color: $cWhite;
      max-width: 300px;
      margin-top: 30px;
      text-align: center;
      font-size: 18px;
      box-shadow: 0 5px 5px rgba($cBlack, .2);
      @include transition;

      &:hover {
        box-shadow: 0 5px 20px rgba($cBlack, .5);
      }
    }
  }
}

.home-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  // background-image: url(../images/bg.jpg);
  background-size: cover;
  // @include flex(center, center);
  z-index: -1;

  &_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $cMainDark;
    opacity: .65;
  }

  &_video {
    position: absolute;
    top: 0;
    left: 0;
  }
}

// end Home


//start Auth
.auth {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;

  &_back {
    margin-top: 35px;
    @include font-style(300, 14px, 1, $cTextSmall);

    a {
      padding-left: 5px;
      font-weight: normal;
      color: $cMain;
      @include transition;

      &:hover {
        color: $cMainHover;
      }
    }
  }

  &::before {
    width: 110%;
    height: 110%;
    top: -5%;
    left: -5%;
    filter: blur(10px);
    @include pseudo;
    @include background('../images/auth-bg2.jpg');
    // background-color: $cMain;
  }

  &_block {
    position: absolute;
    width: 80%;
    height: 76%;
    top: 13%;
    left: 10%;
    @include flex(center, center);
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), -2px -2px 5px rgba(0, 0, 0, 0.1);

    &__title {
      width: 50%;
      height: 100%;
      padding: 30px;
      background-color: rgba($cMain, .85);
      flex-direction: column;
      color: $cWhite;
      position: relative;
      @include flex(center, flex-start);

      .link-to-back {
        position: absolute;
        top: 30px;
        left: 30px;
        @include font-style(300, 14px, 1, $cWhite);
        @include transition;

        &:hover {
          color: $cWhiteHover;
        }
      }
    }

    &__form {
      width: 50%;
      height: 100%;
      padding: 40px;
      background-color: $cWhite;
      flex-direction: column;
      @include flex(center, flex-start);

      &>* {
        width: 100%;
      }

      .label-row {
        margin-top: 40px;
      }

      &_item {
        margin-top: 40px;
        position: relative;

        & .error-message {
          position: absolute;
        }

        &:first-child {
          margin-top: 0;
        }

        input {
          width: 100%;
          border: none;
          border-bottom: 1px solid rgba($cTextSmall, .3);
          padding: 10px 0;
          @include transition;

          &:focus,
          &:valid {
            border-color: $cMain;

            &~label {
              font-size: 14px;
              color: $cMain;
              top: -10px;
            }
          }
        }

        label {
          position: absolute;
          top: 14px;
          left: 0;
          cursor: text;
          font-weight: 300;
          @include transition(.2s);
        }
      }

      .btn {
        display: inline-block;
        margin-top: 50px;
        border-radius: 6px;
      }
    }
  }
}

// end Auth


// start Dashboard
.dashboard {
  z-index: 8;
  min-height: calc(100vh - 65px);
  @include flex(flex-start, stretch);

  // start Sidebar
  .sidebar {
    max-width: 250px;
    min-width: 250px;
    background-color: $cWhite;
    z-index: 8;
    @include transition;
    @include box-shadow-small;

    &.compact {
      max-width: 54px;
      min-width: 54px;
    }

    &_link {
      padding: 15px 15px;
      height: 54px;
      border-left: 5px solid transparent;
      @include transition;
      @include flex(flex-start, center);
      @include font-style(300, 16px, 1.5, $cText);

      svg {
        font-size: 18px;
        margin-right: 10px;
      }

      &__active,
      &:hover {
        border-color: $cMainHover;
        background: $cMain;
        color: $cWhite;
      }
    }

    &.compact .sidebar_link {
      border-left: none;

      svg {
        font-size: 20px;
        margin-right: auto;
        margin-left: auto;
      }
    }

  }

  // end Sidebar

  // start Content
  .content {
    width: 100%;
    position: relative;
    padding-bottom: 55px;

    &_main {
      padding: 20px 30px 50px;
      position: relative;
      flex-wrap: wrap;
      @include flex(space-between);
    }

    &_block {
      background: $cWhite;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -1px 0 2px rgba(0, 0, 0, 0.05);
      margin-top: 30px;

      &__big {
        width: 100%;
      }

      &__medium {
        width: calc(50% - 15px);
      }

      &__small {
        width: calc(25% - 20px);
      }


      &_input {
        @include box-shadow-small;

        form {
          @include flex(flex-start, stretch);

          input[type=text] {
            width: 100%;
            height: 100%;
            border: none;

            padding: {
              top: 20px;
              bottom: 20px;
              left: 40px;
              right: 15px;

            }

            @include transition;
          }

          .btn {
            height: 100%;
            width: 220px;
          }
        }
      }

      &_title {
        padding: 15px;
        @include box-shadow-small;

        .h2 {
          @include font-style(bold, 20px, 1, $cTextTitle);
        }
      }
    }

    .tasks-list {
      display: flex;
      flex-direction: column;
      padding-top: 1px;

      &_item {
        padding: 15px 15px;
        height: 55px;
        position: relative;
        @include flex(flex-start, center);

        &:nth-child(even) {
          background: $cWhiteHover;
        }

        &__title {
          @include font-style(normal, 16px, 24px, $cTextTitle);
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          padding-right: 90px;
        }

        &__more-info,
        &__priority {
          position: absolute;
          right: 10px;
          top: 0;
          height: 100%;
          width: 40px;
          @include flex(center, center);
          color: rgba($cText, .5);
        }

        &__priority {
          right: 50px;
          cursor: pointer;

          .priority-change {
            position: absolute;
            display: flex;
            background: white;
            right: 100%;
            z-index: 20;
            @include box-shadow-small;

            label {
              width: 21px;
              height: 21px;

              input {
                transform: none;
                user-select: none;
                cursor: pointer;
                position: relative;

                &::before {
                  @include pseudo;
                  width: 21px;
                  height: 21px;
                  transform: translate(0px, -4px);
                  background: $cWhite;
                  @include transition;
                }

                &:checked::before {
                  background: $cInputHover;
                }

                &::after {
                  @include pseudo;
                  top: 1px;
                  left: 4px;
                  width: 13px;
                  height: 13px;
                  border-radius: 50%;
                }
              }

              &:first-child input::after {
                background-color: rgba($cText, .5);
              }

              &:nth-child(2) input::after {
                background-color: $cGreen;
              }

              &:nth-child(3) input::after {
                background-color: $cYellow;
              }

              &:nth-child(4) input::after {
                background-color: $cRed;
              }
            }
          }
        }

        .priority0 {
          color: rgba($cText, .5);
        }

        .priority1 {
          color: $cGreen;
        }

        .priority2 {
          color: $cYellow;
        }

        .priority3 {
          color: $cRed;
        }
      }
    }
  }

  // end Content
}

// end Dashboard

// start Footer
.footer {
  background-color: $cBlack;
  z-index: 12;
  color: $cWhite;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  p {
    font-weight: 300;
  }

  &_container {
    padding: 15px 30px;
    position: relative;
  }
}

// end Footer