$font: "Montserrat",
arial,
sans-serif;

$cMain: #796AEE;
$cMainHover: #503ce9;
$cMainDark: linear-gradient(315deg, #796AEE, #5b50b1);

$cBlack: #2F333E;
$cWhite: #FFFFFF;
$cWhiteHover: #F6F6F6;
$cBackground: rgba($cMain, .1);

$cInputHover: #E7E7E7;

$cText: #555555;
$cTextTitle: #333333;
$cTextSmall: #777777;

$cRed: #FF7676;
$cGreen: #54E69D;
$cYellow: #FFC36D;