@import 'mixin';
@import 'fonts';
@import 'font-awesome';
@import 'vars';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  @include font-style;
  background-color: $cBackground;
}

input::-webkit-input-placeholder {
  opacity: 1;
  @include transition;
}

input::-moz-placeholder {
  opacity: 1;
  @include transition;
}

input:-moz-placeholder {
  opacity: 1;
  @include transition;
}

input:-ms-input-placeholder {
  opacity: 1;
  @include transition;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  @include transition;
}

input:focus::-moz-placeholder {
  opacity: 0;
  @include transition;
}

input:focus:-moz-placeholder {
  opacity: 0;
  @include transition;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  @include transition;
}

.h1 {
  font-size: 48px;
}

.h2 {
  font-size: 36px;
}

.h3 {
  font-size: 24px;
}

.error-message {
  @include font-style(300, 14px, 1, $cRed);
  width: 100%;
  margin-top: 5px;
}

label {
  cursor: pointer;

  &.label-row {
    @include flex(flex-start, center);

    p {
      @include font-style(normal, 14px, 1, $cTextSmall);
    }
  }
}

input[type=text],
input[type=email],
input[type=tel],
input[type=password],
button {
  @include font-style;
  color: $cTextTitle;
}

.checkbox-template {
  transform: none;
  user-select: none;
  cursor: pointer;
  position: relative;
  margin-right: 15px;

  &::before {
    margin-right: 10px;
    content: '';
    display: inline-block;
    transform: translate(-4px, -4px);
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: #dae2e7;
    @include transition;
  }

  &::after {
    content: '\f00c';
    width: 14px;
    height: 14px;
    line-height: 15px;
    text-align: center;
    display: block;
    font-family: 'FontAwesome';
    position: absolute;
    top: -1px;
    left: -1px;
    font-size: 0.9em;
    opacity: 0;
    @include transition;
    color: #fff;
  }

  &:checked::before {
    background: #796AEE;
  }

  &:checked::after {
    opacity: 1;
  }
}

a,
a:hover {
  text-decoration: none;
}

ul,
ol,
menu {
  list-style-type: none;
}

.pagetitle {
  padding: 20px 30px;
  background: $cWhite;
  @include font-style(bold, 24px, 1, $cTextTitle);
  @include box-shadow-big;
}

.white,
.white * {
  color: $cWhite !important;
}

.btn {
  border: none;
  background: $cMain;
  color: $cWhite;
  padding: 10px 25px;
  cursor: pointer;
  @include transition;
  min-width: 150px;

  &:hover {
    background: $cMainHover;
  }
}

.fadeIn-enter {
  opacity: 0;

  &.fadeIn-enter-active {
    opacity: 1;
    @include transition;
  }
}

.fadeIn-leave {
  opacity: 1;

  &.fadeIn-leave-active {
    opacity: 0;
    @include transition;
  }
}


@import 'style';
@import 'media';