@import 'mixin';
@import 'fonts';
@import 'font-awesome';
@import 'vars';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: $font;
}

body {
  @include font-style;
  background-color: $cBackground;
}

input::-webkit-input-placeholder {
  opacity: 1;
  @include transition;
}

input::-moz-placeholder {
  opacity: 1;
  @include transition;
}

input:-moz-placeholder {
  opacity: 1;
  @include transition;
}

input:-ms-input-placeholder {
  opacity: 1;
  @include transition;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  @include transition;
}

input:focus::-moz-placeholder {
  opacity: 0;
  @include transition;
}

input:focus:-moz-placeholder {
  opacity: 0;
  @include transition;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  @include transition;
}

.h1 {
  font-size: 48px;
}

.h2 {
  font-size: 36px;
}

.h3 {
  font-size: 24px;
}

.error-message {
  @include font-style(300, 14px, 1, $cRed);
  width: 100%;
  margin-top: 5px;
}

label {
  cursor: pointer;

  &.label-row {
    @include flex(flex-start, center);

    p {
      @include font-style(normal, 14px, 1, $cTextSmall);
    }
  }
}

input[type=text],
input[type=email],
input[type=tel],
input[type=password],
button {
  @include font-style;
  color: $cTextTitle;
}

.checkbox-template {
  transform: none;
  user-select: none;
  cursor: pointer;
  position: relative;
  margin-right: 15px;

  &::before {
    margin-right: 10px;
    content: '';
    display: inline-block;
    transform: translate(-4px, -4px);
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: #dae2e7;
    @include transition;
  }

  &::after {
    content: '\f00c';
    width: 14px;
    height: 14px;
    line-height: 15px;
    text-align: center;
    display: block;
    font-family: 'FontAwesome';
    position: absolute;
    top: -1px;
    left: -1px;
    font-size: 0.9em;
    opacity: 0;
    @include transition;
    color: #fff;
  }

  &:checked::before {
    background: #796AEE;
  }

  &:checked::after {
    opacity: 1;
  }
}

a,
a:hover {
  text-decoration: none;
}

ul,
ol,
menu {
  list-style-type: none;
}

.pagetitle {
  padding: 15px 30px 15px;
  background: $cWhite;
  @include font-style(bold, 24px, 1, $cTextTitle);
  @include box-shadow-small;
  position: relative;
}

.subtitle {
  margin-top: 5px;
  margin-bottom: -5px;
  border: none;
  resize: none;
  display: block;
  width: 100% !important;
  height: auto !important;
  overflow: hidden;
  @include font-style(normal, 14px, 1, $cTextSmall);
}

.breadcrumbs {
  padding: 15px 30px;
  background: $cWhite;
  @include font-style(normal, 16px, 1, $cText);
  // @include box-shadow-small;
  z-index: -1;

  .link {
    color: $cMain;
  }
}

.white,
.white * {
  color: $cWhite !important;
}

.btn {
  border: none;
  background: $cMain;
  color: $cWhite;
  padding: 10px 25px;
  cursor: pointer;
  @include transition;
  min-width: 150px;

  &:hover {
    background: $cMainHover;
  }
}

.fadeIn-enter {
  opacity: 0;

  &.fadeIn-enter-active {
    opacity: 1;
    @include transition;
  }
}

.fadeIn-leave {
  opacity: 1;

  &.fadeIn-leave-active {
    opacity: 0;
    @include transition;
  }
}

#preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, $cMain 0%, $cMainHover 100%);
  z-index: 99999;
  @include flex(center, center);
}

#loader {
  display: block;
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #fff;
  animation: spin 1s linear infinite;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #fff;
  animation: spin 2s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #fff;
  animation: spin .5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@import 'style/header';
@import 'style/home';
@import 'style/auth';
@import 'style/sidebar';
@import 'style/content';
@import 'style/project';
@import 'style/footer';
@import 'style';
@import 'media';